
.btn {
  display: inline-block;
  background-color: $color-background-primary;
  text-align: center;
  border: 0.75px solid $color-base;
  color: $color-base;;
  padding: 0;
  cursor: pointer;

  &--large {
    font-family: $font-base;
    text-transform: uppercase;
    font-weight: 400;
    width: 7em;
    height: 3em;
    font-size: clamp(1.8rem, 3.5vw,3.6rem  );
    
    @include desktop {
      width: 260px;
    }
  }

  &--medium {
    font-family: $font-base;
    font-weight: 400;
    width: 5em;
    font-size: 2.4rem;
  }

  &--small {
    font-family: $font-base;
    font-weight: 300;
    padding: 0.5em 2em;
    font-size: clump(1.2rem, 3vw, 1.8rem);
  
    color: black;
    transition: ease-in-out 0.3s;
    &:hover {
      box-shadow: 0 0 5px 1px $color-base;

    }
  }
  &--login{
    font-family: $font-base;
    border: none;
    padding:13px 15px ;
    color: black;
    &:first-child{
      margin-right: 300px;
    }

    &:hover{
      border: 0.75px solid $color-base;
    }
  }

}