
.btn {
  display: inline-block;
  background-color: $color-background-primary;
  text-align: center;
  border: 0.75px solid $color-base;
  color: $color-base;;
  padding: 0;
  cursor: pointer;

  &--large {
    font-family: $font-base;
    text-transform: uppercase;
    font-weight: 300;
    width: 300px;
    height: 120px;
    font-size: 3.6rem;
    @include desktop {
      width: 260px;
    }
  }

  &--medium {
    font-family: $font-base;
    font-weight: 400;
    width: 208px;
    font-size: 2.4rem;
  }

  &--small {
    font-family: $font-base;
    font-weight: 300;
    padding: 13px 52px;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: black;
  }
  &--login{
    border: none;
    padding:13px 15px ;
    color: black;
    &:first-child{
      margin-right: 300px;
    }

    &:hover{
      border: 0.75px solid $color-base;
    }
  }

}