
.btn {
  display: inline-block;
  background-color: $color-background-primary;
  text-align: center;
  border: 0.75px solid $color-base;
  color: $color-base;;
  padding: 0;
  cursor: pointer;


  &--large {
    font-family: $font-base;
    text-transform: uppercase;
    font-weight: 300;
    width: 300px;
    height: 120px;
    font-size: 3.6rem;
    @include desktop {
      width: 260px;
    }


  }

  &--medium {
    font-family: $font-base;
    font-weight: 400;
    width: 208px;
    font-size: 2.4rem;
  }

}