.oddajRzeczyScreen{
  &__background {
    background-image: url("../../assets/Form-Hero-Image.jpg");
  }

  &__wrapper{
    height: 853px;
  }

  &__Nav {
    margin-bottom: 135px;
  }

  h2 {
    font-size: 3.8rem;
    letter-spacing: -0.76px;
    line-height: 5.4rem;
    text-align: center;
  }
  p{
    font-size: 4rem;
    line-height: 5.5rem;
    font-weight: 300;
  }
  &__steps{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__step {
    display: flex;
    justify-content: space-around;
    //align-items: center;
    flex-direction: column;
    border: 0.75px solid $color-base;
    height: 135px;
    width: 135px;
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 2.8rem;
    text-align: center;
    transform: rotate(45deg);

    & div > div:nth-child(1){

      font-size: 3.2rem;
      line-height: 4.3rem;
    }

  }

  &__text {
    transform: rotate(-45deg);
    //padding: 10px;

     & div:nth-child(1){
      padding-bottom: 10px;
     }
    & div:nth-child(2){
      padding-bottom: 40px;
    }
  }

}