
$color-background-primary:#FFFFFFC9;
$color-background-secondary:#F0F1F1;
$color-base:#3C3C3C;
$color-detail:#FAD648;
$color-nav-top:#737373;
$color-alt:#5E5322; /*numbers*/
$color-black: #000000;
$color-font-input:#3C3C3C26;
$color-underlines:#707070;
$color-decoration:#1A1818;
