.homeAboutUs {
  &__wrapper {
    display: flex;
    flex-direction: row;
    height: 935px;
  }

  &__content {
    margin: 0 auto;
    padding: 100px 150px 200px;
    width: 50%;
    background-color: $color-background-secondary;

    h2 {
      font-size: 3.8rem;
      text-align: center;
      letter-spacing: -0.76px;
      line-height: 4.5rem;
      margin-bottom: 32px;
    }

    p {
      margin: 50px 0;
      padding: 0;
      font-size: 3rem;
      letter-spacing: -0.6px;
      line-height: 5.5rem;
    }
  }

  &__signature {
    display: flex;
    justify-content: flex-end;
  }
  &__img {
    background-image: url("../../../assets/People.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
  }
}