.homeContactUs {
  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: row;
    height: 1026px;
    width: 100%;

  }

  &__background {
    background: url("../../../assets/Background-Contact-Form.jpg");
    background-position: center;
    background-size: cover;
    width: 60%;
    position: relative;

    &:before {
      background: rgba(255, 255, 255, 0.79);
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  &__body {
    text-align: center;
    margin: 200px 142px 0 0;
  }

  h2 {
    letter-spacing: -0.76px;
    font-size: 3.8rem;
    text-align: center;
  }

}
