.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;

  padding: .5em;

  @include tablet{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
  }

  small {
  
    font-size: clamp(10px, 1vw, 1.2rem);
    text-align: center;
    margin-bottom: 1em;
    @include tablet{
      margin-left: 1em;
    }
  }
  &__icons {
  
display: flex;
align-items: center;
justify-content: space-around;
    // img:first-child {
    //   margin-right: 1em;
    // }
div{
  font-size: 1rem;
  color:$color-base;
  cursor: pointer;
  &:hover{
    background-color:lightgray;
    box-shadow: 0 0 5px 5px lightgray;
    opacity: 0.6;
  }
}
    // @include tablet{
    //   margin-right: 1em;
    // }
  }
}