.form {
padding: 0 .3em;
display: flex;
flex-direction: column;

  &__info {
   
    width: 100%;
      @include phone{
        margin-bottom: 0;
    }
    @include desktopSm{
       display: flex;
    margin-bottom: 2em;
    gap:1em;
    }
  }

  &__control{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include tablet{
      margin-bottom: 1em;
    }


    label{
      font-size:1.6rem;
      font-weight: 600;
      line-height: 2.2rem;
      margin-bottom: 12px;
    }
    input,
    textarea {
      outline: none;
      padding: 0 1em 0.3em;
      border: none;
      border-bottom: 2px solid #3C3C3C26;
      width: 100%;
      overflow: hidden;
      resize: none;
      color: $color-base;
      font-size: clamp(1.2rem, 2vw, 1.8rem);
    }
    & ::placeholder {
      color: $color-font-input;
      font-family: $font-base;
      font-size: clamp(1.2rem, 2vw, 1.8rem);
     
    }

  }

  &__submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 3em;
  }

  &__submitted{
    // margin-bottom: 3em;
    text-align: center;
    color: #13bb13;
    font-size: 1.6rem;
    font-weight: 600;
   height: 1em;
   @include phone {
     margin-bottom: 0;
   }

  }
}