.homeFourSteps {
  padding-top: 2em;
  padding-bottom: 1em;
  margin: 0 auto;

  &__body {

    background-color: $color-background-secondary;
    margin-bottom: 1em;
    padding: 1em 0;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    @include desktopSm {
      padding: 2em 10em;
    }
  }

  &__column {
    text-align: center;
    margin-bottom: 2em;
    border:none;

    @include tablet {
      padding:1.5em;
      
    }

      @include desktopSm{
      padding: 3em 1.5em;
      flex-wrap: nowrap;
      flex:.25;
    }

  }

  h4 {
    font-size: 1.8rem;
    margin: 10px 0;
  }

  hr {
    width: 50%;
  }

  p{
    font-size: 1.6rem;
    margin-top: 10px;
  }
&__center {
  display: flex;
  justify-content: center;
}

}