.homeHeader {

  &__wrapper {
    justify-content: space-between;
    height: 70vh;

    @include tablet{
       display: flex;
      flex-direction: row;
      height: 100vh;
    }
  }

  &__body{
    display: flex;
    flex-direction: column;
    padding: 0 1em;

  }

  &__content{
    margin: 0 auto;
    @include tablet {
      padding: 5em 2em 0 2em ;
    }
    @include desktop {
      padding: 7em 7em 0 0;
    }
  }

  &__background {
    background-image: url("../../../assets/Home-Hero-Image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // width: 50%;
    height: 30%;
    @include tablet {
      width: 50%;
      height: 100%;
    }
  }

  &__buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
  a + a {
    margin-left: 0.5em;
  }
  }

  
  

}