.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  margin-top: 34px;
  border-bottom: 1px solid $color-underlines;

  &:nth-child(4) {
    border-bottom: none;
  }

  h3 {
    font-size: 2.6rem;
    font-family: $font-alt;
    font-weight: 300;
    line-height: 3.2rem;
  }
  p {
    font-size: 1.8rem;
    font-family: $font-alt;
    font-weight: 300;
    text-wrap: none;
    line-height: 3rem;

  }

}