
.whoWeHelp {

  padding:  1em;
 
&__Tabs{
padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include tablet{
      padding: 2em;
  }
}
 
  &__tabList {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 2em auto;
  @include phoneSm {
  flex-direction: column;
  margin-bottom: 1em;
}
  }
  &__tab{
    display: flex;
    font-size: clamp(1.6rem, 3.5vw, 2.4rem);
    text-align: center;
    padding: 0 1em ;
    cursor: pointer;
    height: 3em;
    align-items: center;
    justify-content: center;
    border:  0.75px solid transparent;

    &:hover{
      border:  0.75px solid $color-base;
    }

    @include phoneSm {
 
    margin-bottom: 1em;
}

  }


  &__text {
    margin: 1em auto ;
    text-align: center;
    font-size: clamp(1.2rem, 3vw, 2.2rem);
    line-height: clamp(1.6rem, 3.5vw, 2.6rem);
    width:min(75%, 600px)
  
  }

  &__tabPanel{
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }

  .container--medium{
  margin: 0 auto;
 @include desktopSm{
   
  max-width: 1000px;
 }
}

}